<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-lg-4" id="contact">
        <div>
          <h3 class="text-uppercase">Contact</h3>
          <div><i class="fas fa-home me-3 text-secondary"></i> İzmir / TÜRKİYE</div>
          <div>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            info@example.com
          </div>
          <div><i class="fas fa-phone me-3 text-secondary"></i> + 90 232 XXX XX XX</div>
          <div><i class="fas fa-print me-3 text-secondary"></i> + 90 232 XXX XX XX</div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <h3 class="text-uppercase">Where are we?</h3>
        <iframe
          width="428"
          height="256"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          id="gmap_canvas"
          src="https://maps.google.com/maps?width=428&amp;height=256&amp;hl=en&amp;q=%20Izmir+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ></iframe>
      </div>
      <div class="col-md-4 col-lg-4">
        <h3 class="text-uppercase">Email</h3>
        <form action="#" id="form_email">
          <input type="text" class="form-control mb-2" placeholder="Subject" required />
          <input type="text" class="form-control mb-2" placeholder="Email" required />
          <textarea class="form-control" rows="4" placeholder="Write your message"></textarea>
          <button type="submit" class="btn btn-outline-primary mt-3">Send</button>
        </form>
      </div>
    </div>
  </div>
  <div id="footer_row">
    <p>
      2022-2023 &copy; All rights reserved.
      <a href="https://www.linkedin.com/in/mert-kurtoglu/" target="_blank">Design and codes By Mert Kurtoğlu</a>
    </p>
  </div>
</footer>
