<section id="details">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <img src="<%= productsJson.image %>" alt="" />
      </div>
      <div class="col-7">
        <br />
        <!--Rating Stars-->
        <h2><%= productsJson.title %></h2>
        <% for(let i=0; i < productsJson.rating.star; i++){ %>
        <span class="fa fa-star checked"></span>
        <% } %> <% for(let i=0; i < 5- productsJson.rating.star; i++){ %>
        <span class="fa fa-star"></span>
        <% } %>
        <br />
        <!--Description-->
        <p><%= productsJson.description %></p>
        <br />
        <!--Price-->
        <p><b>Price :</b> <%= productsJson.price %>$</p>
        <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"> Add to cart</i></button>
      </div>
    </div>
  </div>
</section>

<script>
  var x = document.getElementById("demo");

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
  }
</script>
